<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        table, th, td {
            border: 1px solid black;
            border-collapse: collapse;
        }
        th, td {
            padding: 15px;
        }           
    </style>
</head>

<body>
    <div class="main-content">
        {{>header}}
        <br><br><br>
        <table>
            <tr>
                <th>Message</th>
                <th>Number</th>
            </tr>
            <tr>
                <td>{{ message }}</td>
                <td>{{ number }}</td>
            </tr>
        </table>
                
                
        
    </div>

    {{>footer}}
</body>

</html>