<style>
    #footer {
    width:100%;
    height: 40px;   
    background-color: #333;
    color: white;
    margin-top: -40px;
}
</style>


<footer id="footer" class="footer text-center">
    &copy; 2020 a <a href="https://willsite-831a1.web.app/">Will Carpenter</a> production
</footer>
