<style>
    #footer {
        position: fixed;
        text-align: center;
        bottom: 0;
        width: 100%;
        background-color: #333;
        color: white;
   
    }
</style>


<footer id="footer" class="text-center my-auto">
    <p class="mt-2 lead" style="font-size:small;">&copy; 2020 a <a href="https://willsite-831a1.web.app/">Will Carpenter</a> production</p>
</footer>
