<style>
    h1 {
        font-size: 60px;
        width: 100%;
        text-align: center;
    }
</style>

<header>
    <h1>{{title}}</h1>
    
    <div class="btn-group" role="group" aria-label="home"><a href="/"><button type="button" class="btn btn-secondary">Home</button></a></div>
    <div class="btn-group" role="group" aria-label="logs"><a href="/logs"><button type="button" class="btn btn-secondary">Logs</button></a></div>
    
    
</header>